.carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: .6s;
    transition-property: opacity;
   }
   
.carousel-fade  .carousel-item.active,
.carousel-fade  .carousel-item-next.carousel-item-left,
.carousel-fade  .carousel-item-prev.carousel-item-right {
     opacity: 1;
}
   
.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-right {
    opacity: 0;
}
   
.carousel-fade  .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-prev {
    transform: translateX(0);
    transform: translate3d(0, 0, 0);
}

.carousel{
    top: 50px;
}

@media (max-width: 768px){
    .carousel-inner{
        height: 100vh;
    }

    .carousel-inner img{
        min-height: calc(100vh - 50px);
    }
}

/*Scss compiled for top arrows*/


.container_arrows {
    z-index: 1;
    position: absolute;
    left: 50vw;
    cursor: pointer;
    margin: 0;
    text-align: center;
    font-family: "Lucida Console", Monaco, monospace;
  }

  .ar {
    top: 90vh;
  }

  .ar1 {
    top: 190vh;
  }

  .ar3 {
    top: 295vh;
  }

  .content-ar {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .content-ar p {
    margin: 0 0 20px;
  }
  
  /* Arrow & Hover Animation */
  #more-arrows {
    width: 75px;
    height: 65px;
  }
  #more-arrows:hover polygon {
    fill: rgb(8, 8, 8);
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
  }
  #more-arrows:hover polygon.arrow-bottom {
    -webkit-transform: translateY(-18px);
            transform: translateY(-18px);
  }
  #more-arrows:hover polygon.arrow-top {
    -webkit-transform: translateY(18px);
            transform: translateY(18px);
  }
  
  polygon {
    fill: rgb(5, 5, 5);
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
  }
  polygon.arrow-middle {
    opacity: 0.75;
  }
  polygon.arrow-top {
    opacity: 0.5;
  }

  /*arrow ends*/